.profile {
    background-color: whitesmoke;
    display: flex;
    padding: 50px 50px 50px 50px;
    border-bottom: none;
    text-align: left;
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px 10px 0px 0px;
    transform-style: preserve-3d;
}

.monotype {
    font-family: "Space Mono", monospace;
    font-size: 15px;
    margin-bottom: 30px;
    height: 0.25rem;
    margin-top: 0px;
    color: black;
}

h1 {
    font-size: 35px;
}

.name {
    height: 1.5rem;
}

.slogan {
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.492);
    margin-top: 0px;
}

.expertise {
    font-weight: 600;
    margin-bottom: 25px;
    max-width: 80%;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.492);
    border-radius: 5px;
}

.currentPosition {
    cursor: pointer;
    border-radius: 5px 0px 2px 0px;
}

.buttons {
    display: flex;
    gap: 5px;
    justify-content: left;
    width: 100%;
}

.rightDiv {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-10px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.headshot {
    width: 200px;
    border-radius: 20px;
    box-shadow: 0px 16px 40px rgba(30, 30, 30, 0.2);
    transform: translatey(0px);
    animation: float 10s ease-in-out infinite;
    box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
    .profile {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .rightDiv {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }
    .headshot {
        display: block;
        width: 100px;
    }
    .expertise {
        max-width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .profile {
        padding: 40px 25px 40px 25px;
        overflow: hidden;
    }
}
