.projectContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
}

.notable {
    grid-column: span 2;
    text-align: left;
    color: whitesmoke;
    padding-left: 25px;
    border-radius: 6px;
}

@media only screen and (max-width: 600px) {
    .projectContainer {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 30px;
        gap: 10px;
    }

    .notable {
        grid-column: span 1;
    }
}
