.project {
  background-color: transparent;
  padding: 25px;
  margin: 25px 0px 25px 0px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border: 2px solid rgba(245, 245, 245, 0.11);
}

.description {
  text-align: left;
  color: whitesmoke;
  font-weight: 600;
  font-size: 15px;
}

.titleAndStack {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: rgba(245, 245, 245, 0.517);
}

.stack {
  display: flex;
  gap: 10px;
}

.projectButton {
  color: #f5f5f5;
  border-color: whitesmoke;
}

.projectButton:hover {
  border-color: black;
}

.title {
  color: whitesmoke;
  margin-bottom: 0px;
  text-align: left;
}

.buttonDiv {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.ghlogo {
  height: 25px;
  margin-top: 5px;
  transition: transform ease 0.5s;
}

.ghlogo:hover {
  transform: rotate(45deg);
  opacity: 75%;
  transition: transform ease 0.5s;
}
